<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>书籍详情</h2>
    <hr>

    <p>书籍标题：{{ book.title }}</p>
    <p>书籍出版时间：{{ book.date }}</p>
    <p>作者：
        <a href="/authordetail/{{ book.auther.id }}/">{{ book.auther.name }}</a>
    </p>

    <p>出版社：
        {% for publisher in book.publishers %}
            <a href="/publisherdetail/{{ publisher.id }}/">{{ publisher.name }}</a>
            {% if not loop.last %}|{% endif %}
        {% endfor %}
    </p>

</body>
</html>